{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Accueil/accueil.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Accueil/Carrousel.js') }}"></script>
{% endblock %}

{% block main %}
    <div class="slide-container">
    {% for picture in pictureDishes %}
        <div class="dishes">
          <img class="dishes-picture" title="{{ picture.title }}" src={{ "https://res.cloudinary.com/hqzz8nqsu/image/upload/v1716918374/RestaurantArnaudMichant/" ~ picture.name ~ ".webp" }} alt="Image" decoding="async">
          <div class="dishes-title">{{ picture.title }}</div>
        </div>
    {% endfor %}
    </div>
    <a class="reserver" href="{{ path('app_reservation') }}">RESERVER</a>
    <hr>
    <div class="description-restaurant">
        <p>Découvrez une expérience culinaire inoubliable</p>
        <p>Situé au cœur de Chambéry, le Quai Antique vous invite à un voyage gastronomique unique. Notre établissement allie tradition et créativité pour vous offrir des plats savoureux, élaborés avec des produits frais et locaux.</p>
    </div>
    <div class="description-restaurant">
        <h3>Nos atouts</h3>
        <ul>
            <li><strong>Cuisine authentique</strong> : Notre chef passionné crée des plats qui éveilleront vos papilles. Des recettes classiques revisitées aux créations originales, chaque bouchée est une découverte.</li>
            <li><strong>Ambiance chaleureuse</strong> : Le décor du Quai Antique vous transporte dans une époque révolue, où le charme des antiquités se mêle à l’élégance contemporaine.</li>
            <li><strong>Service attentionné</strong> : Notre équipe dévouée veille à ce que votre expérience soit exceptionnelle. Que vous veniez en famille, entre amis ou en couple, nous sommes là pour vous accueillir.</li>
            <li><strong>Plats de saison</strong> : Notre carte évolue au fil des saisons pour vous offrir le meilleur de chaque période de l’année.</li>
        </ul>
    </div>
{% endblock %}