{% extends 'base.html.twig' %}

{% block main %}
    <h2>Allergie</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
            </tr>
        </thead>
        <tbody>
        {% for allergy in allergies %}
            <tr>
                <td>{{ allergy.name }}</td>
                <td class="td-action">
                    <a class="btn-modifier" href="{{ path('app_allergy_edit', {'id': allergy.id}) }}">MODIFIER</a>
                    {{ include('allergy/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-ajouter" href="{{ path('app_allergy_new') }}">AJOUTER ALLERGIE</a>
    
{% endblock %}
{% block footer %}
<footer class='pagination'>
    {% for page in 1..totalPages %}
        {% if page == currentPage %}
            <span class="page-courante">{{ page }}</span>
        {% elseif page != 0 %}
            <a class="page-non-courante" href="{{ path('app_allergy_index', {'page': page}) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
</footer>
{% endblock %}
