{% extends 'base.html.twig' %}

{% block title %}NumberOfPlace{% endblock %}

{% block body %}
    <h1>NumberOfPlace</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ number_of_place.id }}</td>
            </tr>
            <tr>
                <th>NumberOfPlace</th>
                <td>{{ number_of_place.numberOfPlace }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_number_of_place_index') }}">back to list</a>

    <a href="{{ path('app_number_of_place_edit', {'id': number_of_place.id}) }}">edit</a>

    {{ include('number_of_place/_delete_form.html.twig') }}
{% endblock %}
