{% extends 'base.html.twig' %}

{% block title %}AdditionalInformation index{% endblock %}

{% block body %}
    <h1>AdditionalInformation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumberOfGuests</th>
                <th>DefaultName</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for additional_information in additional_informations %}
            <tr>
                <td>{{ additional_information.id }}</td>
                <td>{{ additional_information.numberOfGuests }}</td>
                <td>{{ additional_information.defaultName }}</td>
                <td>
                    <a href="{{ path('app_additional_information_show', {'id': additional_information.id}) }}">show</a>
                    <a href="{{ path('app_additional_information_edit', {'id': additional_information.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_additional_information_new') }}">Create new</a>
{% endblock %}
