{% extends 'base.html.twig' %}

{% block title %}Day index{% endblock %}

{% block body %}
    <h1>Day index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Active</th>
                <th>OpenAM</th>
                <th>CloseAM</th>
                <th>OpenPM</th>
                <th>ClosePM</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr>
                <td>{{ day.id }}</td>
                <td>{{ day.active ? 'Yes' : 'No' }}</td>
                <td>{{ day.openAM ? day.openAM|date('H:i:s') : '' }}</td>
                <td>{{ day.closeAM ? day.closeAM|date('H:i:s') : '' }}</td>
                <td>{{ day.openPM ? day.openPM|date('H:i:s') : '' }}</td>
                <td>{{ day.closePM ? day.closePM|date('H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_day_show', {'id': day.id}) }}">show</a>
                    <a href="{{ path('app_day_edit', {'id': day.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_day_new') }}">Create new</a>
{% endblock %}
