{% extends 'base.html.twig' %}

{% block main %}
    <h2>Jour horaire</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Jour</th>
                <th>Ouvert</th>
                <th>Ouverture Matin</th>
                <th>Fermeture Matin</th>
                <th>Ouverture Soir</th>
                <th>Fermeture Soir</th>
            </tr>
        </thead>
        <tbody>
        {% for day in days %}
            <tr>
                <td>{{ day.name}}</td>
                <td>{{ day.active ? 'Oui' : 'Non' }}</td>
                <td>{{ day.openAM ? day.openAM|date('H:i') : '' }}</td>
                <td>{{ day.closeAM ? day.closeAM|date('H:i') : '' }}</td>
                <td>{{ day.openPM ? day.openPM|date('H:i') : '' }}</td>
                <td>{{ day.closePM ? day.closePM|date('H:i') : '' }}</td>
                <td>
                    {# {{ include('day/_delete_form.html.twig') }} #}
                    <a class="btn-modifier" href="{{ path('app_day_edit', {'id': day.id}) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('app_day_new') }}">Create new</a> #}
{% endblock %}
