{% extends 'base.html.twig' %}

{% block title %}Day{% endblock %}

{% block body %}
    <h1>Day</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ day.id }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ day.active ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>OpenAM</th>
                <td>{{ day.openAM ? day.openAM|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CloseAM</th>
                <td>{{ day.closeAM ? day.closeAM|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>OpenPM</th>
                <td>{{ day.openPM ? day.openPM|date('H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ClosePM</th>
                <td>{{ day.closePM ? day.closePM|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_day_index') }}">back to list</a>

    <a href="{{ path('app_day_edit', {'id': day.id}) }}">edit</a>

    {{ include('day/_delete_form.html.twig') }}
{% endblock %}
