{% extends 'base.html.twig' %}

{% block title %}Category index{% endblock %}

{% block main %}
    <h1>Categorie</h1>

    <a class="btn-ajouter" href="{{ path('app_category_new') }}">AJOUTER</a>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.title }}</td>
                <td class="td-action">
                    {{ include('category/_delete_form.html.twig') }}
                    <a class="btn-modifier" href="{{ path('app_category_edit', {'id': category.id}) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
{% block footer %}
<footer class='pagination'>
    {% for page in 1..totalPages %}
        {% if page == currentPage %}
            <span class="page-courante">{{ page }}</span>
        {% else %}
            <a class="page-non-courante" href="{{ path('app_category_index', {'page': page}) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
</footer>
{% endblock %}
