{{ form_start(form) }}
    <div>
        {{ form_label(form.name) }} 
        {{ form_widget(form.name) }} 
    </div>
    <div>
        {{ form_label(form.description) }} 
        {{ form_widget(form.description) }} 
    </div>
    <div>
        {{ form_label(form.dayAccuracy) }} 
        {{ form_widget(form.dayAccuracy) }} 
    </div>
    <div>
        {{ form_label(form.price) }} 
        {{ form_widget(form.price) }} 
    </div>
    <button class="btn-ajouter">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
