{% extends 'base.html.twig' %}

{% block main %}
    <h2>Formule</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Precision Jour</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for formula in formulas %}
            <tr>
                <td>{{ formula.name }}</td>
                <td>{{ formula.description }}</td>
                <td>{{ formula.dayAccuracy }}</td>
                <td>{{ formula.price }}</td>
                <td class="td-action">
                    {{ include('formula/_delete_form.html.twig') }}
                    <a class="btn-modifier" href="{{ path('app_formula_edit', {'id': formula.id}) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-ajouter" href="{{ path('app_formula_new') }}">Ajouter formule</a>
{% endblock %}
{% block aside %}
<aside class='pagination'>
    {% for page in 1..totalPages %}
        {% if page == currentPage %}
            <span class="page-courante">{{ page }}</span>
        {% elseif page != 0 %}
            <a class="page-non-courante" href="{{ path('app_menu_index', {'page': page}) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
</aside>
{% endblock %}
