{% extends 'base.html.twig' %}

{% block title %}Formula index{% endblock %}

{% block main %}
    <h1>Formula index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>PrecisionJour</th>
                <th>Price</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formula in formulas %}
            <tr>
                <td>{{ formula.id }}</td>
                <td>{{ formula.name }}</td>
                <td>{{ formula.description }}</td>
                <td>{{ formula.dayAccuracy }}</td>
                <td>{{ formula.price }}</td>
                <td>
                    {{ include('formula/_delete_form.html.twig') }}
                    <a href="{{ path('app_formula_edit', {'id': formula.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_formula_new') }}">Create new</a>
{% endblock %}
