{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block main %}
    <h1>Booking index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NumberOfGuests</th>
                <th>Date</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.numberOfGuests }}</td>
                <td>{{ booking.date ? booking.date|date('Y-m-d') : '' }}</td>
                <td>{{ booking.name }}</td>
                <td>
                    {{ include('booking/_delete_form.html.twig') }}
                    <a href="{{ path('app_booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_booking_new') }}">Create new</a>
{% endblock %}
