{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock javascripts %}

{% block title %}PictureDishes index{% endblock %}

{% block main %}
    <h1>PictureDishes index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Name</th>
                <th>Display</th>
                <th>actions</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for picture_dish in picture_dishes %}
            <tr>
                <td>{{ picture_dish.id }}</td>
                <td>{{ picture_dish.title }}</td>
                <td>{{ picture_dish.name }}</td>
                <td>{{ picture_dish.display ? 'Yes' : 'No'  }}</td>
                <td>
                    <a href="{{ path('app_picture_dishes_edit', {'id': picture_dish.id}) }}">edit</a>
                </td>
                <td>
                    <a href="{{ path('app_picture_dishes_delete_image', {id: picture_dish.id}) }}" 
                    data-delete data-token="{{ csrf_token('delete' ~ picture_dish.id) }}">Supprimer</a> 
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_picture_dishes_new') }}">Create new</a>
{% endblock %}
