{% extends 'base.html.twig' %}

{% block title %}PictureDishes{% endblock %}

{% block body %}
    <h1>PictureDishes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture_dish.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ picture_dish.title }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ picture_dish.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_picture_dishes_index') }}">back to list</a>

    <a href="{{ path('app_picture_dishes_edit', {'id': picture_dish.id}) }}">edit</a>

    {{ include('picture_dishes/_delete_form.html.twig') }}
{% endblock %}
