{% extends 'base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/images.js') }}"></script>
{% endblock javascripts %}

{% block main %}
    <h2>Plat</h2>

    <a class="btn-ajouter" href="{{ path('app_dishes_new') }}">AJOUTER</a>
    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Prix</th>
            </tr>
        </thead>
        <tbody>
        {% for dish in dishes %}
            <tr>
                <td>{{ dish.title }}</td>
                <td>{{ dish.description }}</td>
                <td>{{ dish.price }}</td>
                <td class="td-action">
                    <a class="btn-modifier" href="{{ path('app_dishes_edit', {'id': dish.id}) }}">MODIFIER</a>
                    {{ include('dishes/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td>Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block footer %}
<footer class='pagination'>
    {% for page in 1..totalPages %}
        {% if page == currentPage %}
            <span class="page-courante">{{ page }}</span>
        {% elseif page != 0 %}
            <a class="page-non-courante" href="{{ path('app_dishes_index', {'page': page}) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
</footer>
{% endblock %}
