{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}
    <h1>Dishes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ dish.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ dish.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ dish.description }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ dish.price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dishes_index') }}">back to list</a>

    <a href="{{ path('app_dishes_edit', {'id': dish.id}) }}">edit</a>

    {{ include('dishes/_delete_form.html.twig') }}
{% endblock %}
