<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}QuaiAntique{% endblock %}</title>
    <link rel="icon" href="{{ asset('icon/restaurant.svg') }}">
    <link rel="stylesheet" href="{{ asset('css/Base/base.css') }}">
    <link rel="stylesheet" href="{{ asset('css/Base/form.css') }}">
    {% block stylesheets %}
    {% endblock %}

    <script src="{{ asset('jquery/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ asset('js/Base/crossAnimation.js') }}"></script>
    {% block javascripts %}
    {% endblock %}
</head>
<body>
    <header>
        <h1 class="quai-antique">QUAI ANTIQUE</h1>
        <div class="cross-div">
            <div class="cross"></div>
        </div>
    </header>
    <nav>
        <a class="nav-list__item" href="{{ path('app_accueil') }}">ACCUEIL</a>
        <a class="nav-list__item" href="{{ path('app_carte') }}">CARTE</a>
        <a class="nav-list__item" href="{{ path('app_reservation') }}">RESERVATION</a>
        {% if is_granted('ROLE_ADMIN') %} 
        <a class="nav-list__item" href="{{ path('app_allergy_index') }}">ALLERGIE</a>
        <a class="nav-list__item" href="{{ path('app_booking_index') }}">BOOKING</a>
        <a class="nav-list__item" href="{{ path('app_day_index') }}">DAY</a>
        <a class="nav-list__item" href="{{ path('app_menu_index') }}">MENU</a>
        <a class="nav-list__item" href="{{ path('app_category_index') }}">CATEGORIE</a>
        <a class="nav-list__item" href="{{ path('app_dishes_index') }}">PLAT</a>
        <a class="nav-list__item" href="{{ path('app_picture_dishes_index') }}">IMAGE PLAT</a>
        <a class="nav-list__item" href="{{ path('app_formula_index') }}">FORMULE</a>
        <a class="nav-list__item" href="{{ path('app_number_of_place_index') }}">NOMBRE DE PLACE</a>
        <a class="nav-list__item" href="{{ path('app_user_index') }}">UTILISATEUR</a>
        <a class="nav-list__item" href="{{ path('app_logout') }}">DECONNEXION</a>
        <a class="nav-list__item" href="{{ path('app_user_mon_compte') }}">MON COMPTE</a> 
        {% elseif is_granted('ROLE_USER') %}
        <a class="nav-list__item" href="{{ path('app_user_mon_compte') }}">MON COMPTE</a> 
        <a class="nav-list__item" href="{{ path('app_logout') }}">DECONNEXION</a>
        {% else %}
        <a class="nav-list__item" href="{{ path('app_login') }}">CONNEXION</a>     
        <a class="nav-list__item" href="{{ path('app_register') }}">S'INSCRIRE</a>  
        {% endif %} 
    </nav>
    <main>
        {% block main %}{% endblock %}
    </main>

    {% if listDay is defined and listDay is not null %}
    <footer>
        <div class="horaire">
            <h3>HORAIRE</h3>
            {% for day in listDay %} 
                {% if  day.Active == 1 %}
                    {% if (day.name|length >= 3) %}
                        <p class="horaire-ouverture__jour">{{ day.name|slice(0, 3) }}.   
                    {% else %} 
                        <p class="horaire-ouverture__jour">{{ day.name }}. 
                    {% endif %}
                    {% if day.openAM|date('H:i') != '00:00' or day.openAM|date('H:i') != '00:00'  %}
                        <time datetime="{{ day.openAM|date('H:i') }}">{{ day.openPM ? day.openAM|date('H:i') : '' }}</time> - 
                        <time datetime="{{ day.closeAM|date('H:i') }}">{{ day.closeAM ? day.closeAM|date('H:i') : '' }}</time> ~
                    {% else %}
                    Fermé
                    {% endif %}
                    {% if day.openPM|date('H:i') != '00:00' or day.closePM|date('H:i') != '00:00'  %}
                        <time datetime="{{ day.openPM|date('H:i') }}">{{ day.openPM ? day.openPM|date('H:i') : '' }}</time> - 
                        <time datetime="{{ day.closePM|date('H:i') }}">{{ day.closePM ? day.closePM|date('H:i') : '' }}</time>
                    {% else %}
                    Fermé
                    {% endif %}
                    </p>
                {% else %}
                <p class="horaire-ouverture__jour">{{ day.name }} Fermé</p>
                {% endif %}
            {% else %}
            <p>Aucun horaire renseigné</p>
            {% endfor %}
        </div>
        <div class="cgv-mentionlegale">
            <a class="cgv" href="{{ path('app_cgv') }}">CGV</a>
            <a class="mentionlegale" href="{{ path('app_mentionslegale') }}">Mention Legale</a>
        </div>
    </footer>
    {% endif %}

    {% block footer %}{% endblock %}

</body>
</html>
