{% extends 'base.html.twig' %}

{% block title %}Menu index{% endblock %}

{% block main %}
    <h2>Menu</h2>
    <p>Si plusieurs Menu sont actif, seul le premier sera affiché</p>

    <table class="table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Actif</th>
            </tr>
        </thead>
        <tbody>
        {% for menu in menus %}
            <tr>
                <td>{{ menu.title }}</td>
                <td>{{ menu.active ? 'Oui' : 'Non' }}</td>
                <td class="td-action">
                    <a class="btn-modifier" href="{{ path('app_menu_edit', {'id': menu.id}) }}">MODIFIER</a>
                    {{ include('menu/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn-ajouter" href="{{ path('app_menu_new') }}">Ajouter Menu</a>
{% endblock %}
{% block footer %}
<footer class='pagination'>
    {% for page in 1..totalPages %}
        {% if page == currentPage %}
            <span class="page-courante">{{ page }}</span>
        {% else %}
            <a class="page-non-courante" href="{{ path('app_menu_index', {'page': page}) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
</footer>
{% endblock %}
