{% extends 'base.html.twig' %}

{% block title %}CateringService{% endblock %}

{% block body %}
    <h1>CateringService</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ catering_service.id }}</td>
            </tr>
            <tr>
                <th>NumberOfGuests</th>
                <td>{{ catering_service.numberOfGuests }}</td>
            </tr>
            <tr>
                <th>DateOpen</th>
                <td>{{ catering_service.dateOpen ? catering_service.dateOpen|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DateClose</th>
                <td>{{ catering_service.dateClose ? catering_service.dateClose|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_catering_service_index') }}">back to list</a>

    <a href="{{ path('app_catering_service_edit', {'id': catering_service.id}) }}">edit</a>

    {{ include('catering_service/_delete_form.html.twig') }}
{% endblock %}
