{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Base/base.css') }}">
{% endblock %}

{% block main %}
    <h2>Utilisateur</h2>

    <a class="btn-ajouter" href="{{ path('app_user_new') }}">AJOUTER</a>
    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre de personne</th>
                <th>Nom reservation</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}     
        {% if "ROLE_ADMIN" not in user.roles  %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.numberOfGuests }}</td>
                <td>{{ user.defaultName }}</td>
                <td class="td-action">
                    <a class="btn-modifier" href="{{ path('app_user_edit', {'id': user.id}) }}">MODIFIER</a>
                    {{ include('user/_delete_form.html.twig') }}
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block aside %}
<aside class='pagination'>
    {% for page in 1..totalPages %}
        {% if page == currentPage %}
            <span class="page-courante">{{ page }}</span>
        {% elseif page != 0 %}
            <a class="page-non-courante" href="{{ path('app_user_index', {'page': page}) }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
</aside>
{% endblock %}
