{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th>NumberOfGuests</th>
                <th>NomReservation</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}     
        {% if "ROLE_ADMIN" not in user.roles  %}
            <tr>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.numberOfGuests }}</td>
                <td>{{ user.defaultName }}</td>
                <td>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
