{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/Carte/carte.css') }}">
{% endblock %}

{% block main %}
<h2>MENU {{ menu[0].title }}</h2>   
{% for categorie in menu[0].Category %}
{% if categorie.dishes[0] is defined and categorie.dishes[0] is not null %}
    <article>
        <h3 class="hr">{{ categorie.title }}</h3>
    {% for product in categorie.dishes %}
        <div class="dishes">
            <div class="dishes__title-description">
                <p itemprop="name" class="title">{{ product.title }}</p>
                <p itemprop="description" class="description">{{ product.description }}</p>
            </div>
            <p class="price" itemprop="price">{{ product.price|number_format(2) }} €</p>
            <meta itemprop="priceCurrency" content="EURO" />
        </div>
    {% endfor %}
    </article>
{% endif %}
{% endfor %}

{% if formula is defined and formula is not null %}
<h3>Formule</h3>
{% for product in formula %}
    <div class="formule">
        <p itemprop="name">{{ product.name }}</p>
        <p itemprop="description">{{ product.description }}</p>
        <p>{{ product.dayAccuracy }}</p>
        <p itemprop="price">{{ product.price|number_format(2) }} €</p>
        <meta itemprop="priceCurrency" content="EURO" />
    </div>
{% endfor %}
{% endif %}
{% endblock %}