{% extends 'base.html.twig' %}
{% block body %}
<h1>MENU {{ menu[0].title }}</h1>   
{% for categorie in menu[0].Category %}
{% if categorie.dishes[0] is defined and categorie.dishes[0] is not null %}
    <article>
        <h2>{{ categorie.title }}</h2>
    {% for product in categorie.dishes %}
        <div>
            <p>{{ product.title }}<p>
            <p>{{ product.price }} €<p>
            <p>{{ product.description }}<p>
        </div>
    </article>
    {% endfor %}
{% endif %}
{% endfor %}
<h3>Formule</h3>
{% for product in formula %}
    <div>
        <p>{{ product.name }}<p>
        <p>{{ product.description }}<p>
        <p>{{ product.dayAccuracy }}<p>
        <p>{{ product.price }} €<p>
    </div>
{% endfor %}
{% endblock %}
